---
import BaseLayout from "@layouts/BaseLayout.astro";
import TallyForm from "@components/Forms/TallyForm.astro";

import { getLocaleFromUrl } from "@js/localeUtils";
import { getTranslatedData } from "@js/translationUtils";
import { getContactPageData } from "@js/contactUtils";

const currLocale = getLocaleFromUrl(Astro.url);
const siteData = getTranslatedData("siteData", currLocale);
const contact = await getContactPageData(currLocale);

const pageTitle = contact.metaTitle.includes(siteData.name)
  ? contact.metaTitle
  : `${contact.metaTitle} | ${siteData.name}`;
---

<BaseLayout title={pageTitle} description={contact.metaDescription}>
  <div class="site-container mx-auto mt-16 overflow-x-clip">
    <div
      class="w-full bg-[url('/assets/pattern-light.svg')] bg-center bg-no-repeat py-20 text-center md:py-32 dark:bg-[url('/assets/pattern-dark.svg')]"
    >
      <h1 class="h1">{contact.hero.title}</h1>
      <p class="description mx-auto mt-6 max-w-2xl">
        {contact.hero.description}
      </p>
    </div>

    <div class="mb-12 flex justify-center">
      <TallyForm embedCode={contact.tallyForm.embedCode} />
    </div>
  </div>
</BaseLayout>
